.DS_Store
.build/
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace
.swiftpm/
*.xcodeproj
!default.xcodeproj
Carthage
Pods/
Podfile.lock
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
iOSInjectionProject/
.kiro
